name: GitHub Metrics

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Notable contributions + Isocalendar
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          base: ""
          config_timezone: Europe/London

          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_types: commit, pull_request
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes
          plugin_notable_self: no

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
